body{
font-family: Arial;
height: auto;
width: auto;
margin: 0px;
}

.content{
    margin: 8px;
}

.content > *{
    margin: 4px;
}
.content > h4 + *{
    margin-top: 0px;
}
.content > p {
    width: fit-content;
}
.content > h4{
    font-weight: 400;
    margin-top: 8px;
}
.content select{
    font-size: medium;
}
.display-inline > h4{
    display: inline;
}
.about{
    width: fit-content;
    margin: auto;
}
.about > div {
    width: 300px;
    margin: 28px;
    float: left;
}
.about > div > h3{
text-align: center;
}
.about > div > img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.bordered{
    border:1px;
    border-style:solid; 
    border-color:#A9A9A9; 
    padding: 4px;
}
footer{
    position: fixed;
    padding-left: 18px;
    bottom: 0px;
    background-color: black;
    width: 100%;
}

footer > a {
    color: white;
}