:root{
    --primary-color: #d9c484;
    --primary-color-dark: #5e0000;
}

body{
    font-family: Arial, serif;
height: auto;
width: auto;
    margin-left: 10%;
    margin-right: 10%;
    background-color: var(--primary-color);
}

h5, h3{
    padding-top: 10px;
    color: var(--primary-color-dark);
    font-weight: bold;
}

.content{
    margin: 8px;
}

.content > *{
    margin: 4px;
}
.content > h4 + *{
    margin-top: 0;
}
.content > p {
    width: fit-content;
}
.content h4{
    font-weight: 400;
    margin-top: 8px;
}
.content input{
    font-weight: 400;
    margin-top: 8px;
}
.content select{
    font-size: medium;
}
.display-inline > h4{
    display: inline;
}
.about{
    width: fit-content;
    margin: auto;
}
.about > div {
    width: 300px;
    margin: 28px;
    float: left;
}
.about > div > h3{
text-align: center;
}
.about > div > img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.bordered{
    border: 1px solid #A9A9A9;
    padding: 4px;
}
footer{
    position: fixed;
    padding-left: 18px;
    bottom: 0;
    background-color: black;
    width: 100%;
}

footer > a {
    color: white;
}

#information_container{
    display: inline-block;
    vertical-align: top;
    width: 50%;
}
#proficiencies_container{
    display: inline-block;
    vertical-align: top;
    width: 15%;
}

.class_contrast_table{
    padding: 5px 10px 10px;
    color: white;
    background-color: var(--primary-color-dark);
}